h1 { color: rgb(77, 25, 25); 
	font-size: 150%}

h2 {
    border-style: solid;
    border-width: 3px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: gray;
	font-style: italic;
	color: rgb(77, 25, 25);
	}

body { 
		background: 	rgb(201, 125, 109); 
		color: midnightblue;
		font-size: 18pt;
		font-family: 'oswald', sans-serif;
		border-left: 30px solid dimgray;
		border-right: 30px solid dimgray  
	 }

h1 { border: 2px solid black 
	Padding: 10px}